@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000000;
}

.content h1 {
  font-weight: 800;
  font-size: 42px;
}
.navigation {
  max-width: 1440px;
  margin-left: 3rem;
}

.container {
  margin: 5rem auto;
  width: 50rem;
  font-family: "Poppins", sans-serif;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.btn button {
  background-color: var(--black);
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 8px;
}

.one-btn {
  width: 100%;
  height: 35px;
}

.photo img {
  height: 25rem;
  width: 25rem;
}

.text {
  height: 5rem;
}
form {
  line-height: 75px;
  width: 40vh;
  padding: 0 1rem;
}

.form {
  line-height: 4rem;
}

form input {
  width: 300px;
  height: 40px;
  padding: 0 8px;
}

form button {
  background-color: var(--black);
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 8px;
}

.form-btn {
  display: flex;
  justify-content: end;
}

.form-control {
  position: relative;
}

.form-control label {
  position: absolute;
  top: -20px;
  background-color: white;
  margin-left: 20px;
  font-size: 11px;
  height: 4px;
}

.form-text {
  position: relative;
}

.form-text label {
  position: absolute;
  top: -35px;
  margin-left: 20px;
  font-size: 11px;
}
